@model DestinationIdViewModel.Datum
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">

    @using (Html.BeginForm("Index", "SearchLocationId",FormMethod.Post))
    {
        
        <label>Şehir Adı Giriniz</label>
        <input type="text" class="form-control" name="cityName" />
        <button class="btn btn-dark">Kontrol Et</button>

    }




    <tr>
        <th>Lokasyon Id</th>
    </tr>


    <tr>

        <th>
           @Model.dest_id
        </th>
    </tr>
       

</table>
